@model TaskService.Models.TaskModel

@{
    ViewBag.Title = "New Task";
    if (Model != null)
    {
	   Model.DateStart = DateTime.Now;
	   Model.DateCompleted = new DateTime(1900, 01, 01);
    }
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div class="upper-block">
        <div>
            <div class="form-group">
                <p>Task Name: </p>
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <p>Tag: </p>
                @Html.TextBoxFor(x => x.Tags[0], new { @class = "form-control" })
            </div>
        </div>
        <div class="f-right">
            <div class="form-group">
                <p>Due Date: </p>
                @Html.TextBoxFor(x => x.DueDate, new { type = "datetime-local", value = "", @class = "form-control date-box" })
            </div>
            <div class="form-group">
                <p>Est. Time(hr): </p>
                @Html.TextBoxFor(x => x.EstimateDuration, new { type = "number", min = 0, max = 24, @class = "form-control" })
            </div>
	       <div class="form-group">
	           <p>Task Difficulty: </p>
	           @Html.TextBoxFor(x => x.TaskValue, new { type = "number", min = 0, max = 99, @class = "form-control" })
	       </div>

        </div>
    </div>
        <div class="des">
            <p class="des-p">Description: </p>
            @Html.TextAreaFor(x => x.Description, new { @class = "form-control des-b" })
        </div>
        <hr />
        <div class="center">
            <input class="btn btn-success" type="submit" value="Submit" />
        </div>
}