@model TaskService.Models.AllTasks

@{
    ViewBag.Title = "Task List";
}

    <div class="sorting-bar">
        <div class="sr-head">Sort By:</div>
        <ul>
            <li>@Html.ActionLink("Name", "SearchByName", "Task")</li>
            <li>@Html.ActionLink("Tag", "SearchByTag", "Task")</li>
            <li>@Html.ActionLink("Due Date", "SearchByDueDate", "Task")</li>
	       <li>@Html.ActionLink("Time Est.", "SearchByTimeEst", "Task")</li>
	       <li>@Html.ActionLink("Difficulty", "SearchByDifficulty", "Task")</li>
        </ul>
    </div>
<div class="task-list">
    <br />
    <div class="Past">
        <h4>Past Due</h4>
        @foreach (var task in Model.Tasks)
	   {
		  if (task.DueDate.Year <= DateTime.Now.Year && task.DueDate.Month <= DateTime.Now.Month)
		  {
			 if(task.DueDate.Month == DateTime.Now.Month)
			 {
				if(task.DueDate.Day < DateTime.Now.Day)
				{
				    @Html.Partial("_PartialTask", task)
				}
			 }
			 else
			 {
                    @Html.Partial("_PartialTask", task)
			 }
		  }
	   }
    </div>
    <br />
    <hr />
    <div class="Present">
        <h4>Today</h4>
        @foreach (var task in Model.Tasks)
	   {
		  if (task.DueDate.Year == DateTime.Now.Year && task.DueDate.Month == DateTime.Now.Month && task.DueDate.Day == DateTime.Now.Day)
		  {
			 @Html.Partial("_PartialTask", task)
		  }
	   }
    </div>
    <br />
    <hr />
    <div class="Future">
        <h4>Coming Up</h4>
        @foreach (var task in Model.Tasks)
	   {
		  if (task.DueDate > DateTime.Now && task.DueDate.Day > DateTime.Now.Day)
		  {
                @Html.Partial("_PartialTask", task)
		  }
	   }
    </div>
    <br />
</div>