<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - NUCode</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css"/>
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-left">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("NUCode", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <div class="top">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
				@if (User.Identity.IsAuthenticated)
				{
                        <li>@Html.ActionLink("Task List", "TaskList", "Task")</li>
                        <li>@Html.ActionLink("Archive List", "ArchiveTask", "Task")</li>
                        <li>@Html.ActionLink("Add Task", "AddTask", "Task")</li>
				}
				@if (User.IsInRole("Admin"))
				{
				    <li>@Html.ActionLink("View Users", "ManageAdminAccounts", "Manage")</li>
				}
                    @*<li><a href="/"><div>Home</div></a></li>
                    <li><a href="/Home/About"><div>About</div></a></li>
                    <li><a href="/Home/Contact"><div>Contact Us</div></a></li>
                    <li><a href="/Task/TaskList"><div>Task List</div></a></li>
                    <li><a href="/Task/ArchiveTask"><div>Archive List</div></a></li>*@
                </ul>
                    </div>
                <div class="bottom">
                @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div id="headerDiv">
            <header>@ViewBag.Title</header>
        </div>
        <div class="container body-content">
            @RenderBody()
        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - NUCode</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
