@model TaskService.Models.TaskModel

<div class="task-box">
    <section class="t-top-bar">
        <h3>@Html.ActionLink(@Model.Name, "TaskDetail", new { id = Model.TaskId }, new { @class = "task-h3" })</h3>
        <div>
            Est. Time: @Model.EstimateDuration.ToString() hr
        </div>
	   <div>
		 Due Time: <span>@Model.DueDate.Hour</span>:<span>@Model.DueDate.Minute</span>
	  </div>
        <section class="t-top-right">
            Archive
            @Html.CheckBoxFor(x => x.IsCompleted, new { type = "checkbox", @class = "t-checkbox" })
        </section>
    </section>
    <hr />
    <div class="t-tag">
        Tag: @Model.Tags
        @*<ol>
                @foreach (string tag in Model.Tags)
                {
                <li>@tag</li>
                }
            </ol>*@
    </div>
    <br />
    <div class="t-body">
        <p>@Model.Description</p>
    </div>
</div>