@model TaskService.Models.TaskModel

<div class="TaskBox">
    <div>
	   Task Name:
	   @if (ViewBag.Detail)
	   {
            @Model.Name
	   }
	   else
	   {
            @Html.ActionLink(Model.Name, "TaskDetail", new { id = Model.TaskId })
	   }
    </div>
    <div>
	   Due Date:
	   @Model.DueDate
    </div>
    <div>
	   Estimated Duration:
	   @Model.EstimateDuration.ToString()
    </div>
    @if (ViewBag.Detail)
    {
	   <div>
		  Tags:
		  <ol>
			 @foreach (string tag in Model.Tags)
			 {
				<li>@tag</li>
			 }
		  </ol>
	   </div>
        <div>
		  @if (User.IsInRole("Admin"))
		  {
                @Html.ActionLink("Remove This Task?", "DeleteTask", new { id = Model.TaskId })
                <br />
                @Html.ActionLink("Edit This Task?", "EditTask", new { id = Model.TaskId })
		  }
        </div>
    }
</div>