@model TaskService.Models.TaskModel

<div class="task-box">
    <section class="t-top-bar">
        <h3>@Html.ActionLink(@Model.Name, "TaskDetail", new { id = Model.TaskId }, new { @class = "task-h3" })</h3>
        <div>
            Est. Time: @Model.EstimateDuration.ToString() hr
        </div>
        <div>
            Due: @Model.DueDate
        </div>
        <div>
            Difficulty: @Model.TaskValue
        </div>
        <section class="t-top-right">
		  @if (Model.IsCompleted)
		  {
                @Html.ActionLink("Un-Archive", "ArchiveTask", "Task", new { id = Model.TaskId }, null)
		  }
		  else
		  {
			 @Html.ActionLink("Archive", "ArchiveTask", "Task", new { id = Model.TaskId }, null)
		  }
        </section>
    </section>
        <hr />
    <section class="t-hide">
        <div class="t-tag">
            Tag:
            <ol>
                @foreach (string tag in Model.Tags)
			 {
                    <li>@tag</li>
			 }
            </ol>
        </div>
        <br />
        <div class="t-body">
            <p>@Model.Description</p>
        </div>
    </section>
</div>
